.buy {
  width: 100%;
  background-color: #000;
  padding-bottom: 80px;
}

.buy > img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
}

.buy .details {
  background-color: #000;
  width: 100%;
  padding: 25px 1rem 1rem 1rem;
  position: relative;
}

.buy .details::before {
  content: "";
  height: 50px;
  width: 100%;
  position: absolute;
  left: 0;
  top: -25px;
  border-radius: 25px 0 0 0;
  background-color: #000;
}

.buy .details h1 {
  color: white;
  font-size: 20px;
}

.buy .details p {
  color: #ff65c3;
  font-size: 20px;
  font-weight: 600;
  padding: 1rem 0;
}

.buy .quantity {
  display: flex;
  margin-top: 1rem;
  text-transform: capitalize;
  align-items: center;
}

.buy .quantity h3 {
  color: white;
  margin-right: 3rem;
}

.buy .quantity i {
  padding: 0 0.2rem;
  color: white;
  font-size: 30px;
  -webkit-text-stroke: 1px;
  background-color: #ff65c3;
  border-radius: 5px;
}

.buy .quantity * {
  margin-right: 0.5rem;
}

.buy .quantity h2 {
  color: #ff65c3;
  font-size: 25px;
  min-width: 50px;
  text-align: center;
}

.buy .description {
  margin-top: 3rem;
  text-transform: capitalize;
  align-items: center;
}

.buy .description h3 {
  font-size: 18px;
  color: white;
  margin-right: 3rem;
}

.buy .description p {
  font-size: 15px;
  color: white;
  font-weight: 500;
}

.buy .cart {
  width: 100%;
}

.buy .cart button {
  background-color: #191919;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 1rem;
  outline: none;
}

.buy .cart button i {
  margin-right: 1rem;
  font-size: 30px;
  -webkit-text-stroke: 0.5px;
  color: #ff65c3;
}
