.footer {
  position: fixed;
  bottom: 10px;
  border-radius: 50px;
  background-color: #000000;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 400px;
  z-index: 500;
  height: 70px;
}

.footer i {
  color: #ff65c3;
  font-size: 30px;
  cursor: pointer;
  -webkit-text-stroke: 1px;
  user-select: none;
}

.footer .cart {
  display: flex;
  position: relative;
}

.footer .cart h3 {
  position: absolute;
  top: 0.5rem;
  right: 0.1rem;
  font-size: 20px;
  color: #000;
  background-color: white;
  padding: 0 0.3rem;
  border-radius: 50px;
}

.footer div:nth-of-type(2) i {
  font-size: 50px;
}
