.home {
  min-height: 100vh;
  color: white;
}

.home .hero {
  min-height: 100vh;
  width: 100%;
  background: url("/model2.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
}

.home .hero header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  padding: 1rem;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: transparent;
  justify-content: space-between;
}

.home .hero header h1 {
  font-weight: 900;
  font-size: 20px;
  color: #e64209;
}

.home .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .buttons i {
  color: white;
  font-size: 30px;
  margin: 10px;
  font-weight: 800;
  user-select: none;
}

.home .content {
  position: absolute;
  top: 20%;
  padding: 1rem;
}

.home .content h1 {
  text-transform: capitalize;
  font-size: 30px;
}

.home .content p {
  font-size: 16px;
  margin: 0 1.5rem 0 0;
}

.home .content button {
  background-color: #e64209;
  border: 0;
  padding: 1rem 2rem;
  color: white;
}

.home .posts {
  padding: 1rem;
  background-color: #07070f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 50px;
}

.home .posts input {
  width: 90%;
  top: -30px;
  left: 5%;
  height: 60px;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 10px;
  position: absolute;
  outline: none;
}

.home .category {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  overflow-x: hidden;
  background-color: #07070f;
  border-radius: 10px 0 0 10px;
}

.home .category h1 {
  padding: 0 1rem;
  font-size: 20px;
  color: #fff;
  background-color: #07070f;
}

.home .category .group {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: scroll;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 100%;
}
