:root {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -ms-scrollbar-highlight-color: transparent;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}

i,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
img {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}
