.product {
  width: 180px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid #ff65c3;
  background-color: #000000;
  transition: 0.4s;
  border-radius: 0.8rem;
  overflow: hidden;
}

.product:hover {
  box-shadow: 2px 2px 20px rgba(241, 0, 129, 0.829);
}

.product h3,
.product h2 {
  width: 100%;
  text-align: left;
}

.product img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 0.8rem;
}

.product .description {
  display: flex;
  background-color: #000000d2;
  width: 100%;
  z-index: 2;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 0.5rem;
  border-radius: 0 0 0.8rem 0.8rem;
}

.product h3 {
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.product h2 {
  color: #fff;
  font-weight: 600;
  font-size: 17px;
}

.product h2 span {
  color: transparent;
  background-image: linear-gradient(45deg, #ff0048, #ff65c3);
  background-clip: text;
  transition: 0.8s;
  text-transform: capitalize;
}

@media (min-width: 800px) {
  .product {
    width: 280px;
    height: 300px;
  }
}
